@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Montserrat:wght@400;800&family=Pavanam&family=Zen+Maru+Gothic:wght@400;500;700;900&display=swap');


body {
    --track-bg: transparent;
    --track-bg-hover: transparent;
    --open-note-border: 0.5px black dashed;
    margin:0px;
    color: black;
    font-family: Courier, monospace;
    /* background-image: linear-gradient(
        115deg,
        hsl(240deg 6% 93%) 0%,
        hsl(322deg 20% 89%) 10%,
        hsl(4deg 38% 86%) 21%,
        hsl(30deg 37% 77%) 32%,
        hsl(48deg 25% 66%) 43%,
        hsl(33deg 30% 56%) 54%,
        hsl(21deg 33% 48%) 65%,
        hsl(7deg 38% 42%) 74%,
        hsl(23deg 51% 33%) 83%,
        hsl(58deg 41% 25%) 91%,
        hsl(137deg 30% 29%) 97%,
        hsl(180deg 63% 23%) 100%
        ); */
}

h1 {
    font-family: 'Zen Maru Gothic';
    margin: 0;
    font-size: 50px;
}

#page-header{
    padding: 50px;
    padding-bottom: 0px;
    display: flex;
    z-index: 1;
    
}

#playlist-info{
    padding:50px;
}

#playlist-cover{
    max-height: 200px;
    padding: 30px;
    border: 1px black dashed;
    /* box-shadow: 5px 5px 50px rgba(0,0,0,.7); */
}

#tracklist-headings{
    display:flex;
    color:grey;
}

#tracklist{
    padding: 40px;
    padding-top: 10px;
}


.desc{
    opacity:60%;
}

.track{
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex; 
}

.index{
    width: 100px;
    color: grey;
}
.song{
    width: 500px;

}
.album{
    width: 500px;
    color: grey;

}

.addedAt{
    width: 170px;
    color: grey;
}

.length{
    width: 100px;
    color: grey;
}

.artist{
    color:grey;
}

hr {
    border-width: 0.5px;
    border-color: rgb(65, 65, 65);
    width: 100%;
    height: 0px;
}

.track:hover {
    background-color: rgba(25, 25, 25,0.07);
    /* color: white !important; */
}

.track {
    /* transition: padding-top 0.2s; */
    border-radius: 5px;
    padding-top: 12px;
    transition: background-color 0.2s;
    padding-left: 20px;
}

#tracklist-headings {
    padding-left: 20px;
}

input {
    background-color: rgba(255,255,255,.1);
    border-radius: 5px;
    padding: 10px;
    border: 1px rgb(0, 0, 0) dashed;
    color: rgba(0,0,0,0.5);
    font-family: 'Courier';
    max-height: 13px;
}

::placeholder{
    color: rgba(0,0,0,0.5);
    font-family: 'Courier';
}

.enter-button {
    margin-left: 20px;
}

button {
    font-family: Courier;
    margin-right: 20px;
    color: rgb(85, 85, 85);
    border: 1px solid;
    border-radius: 5px;
    border-color:rgb(88, 88, 88);
    transition: border-color 0.3;
    background-color: white;
}

button:hover{
    background-color: rgb(222, 222, 222);
    transition: background-color 0.3;
}

button:active{
    background-color: black;
    border-color: rgb(59, 59, 59);
    color:white;
    transition: color 0.3;
}

button:disabled{
    opacity: 40%;
}

button:disabled:hover{
    opacity: 40%;
    background-color: transparent;
}


.playlist-search-bar{
    position: relative;
    margin-top: auto;
    width: 200px;
}


input:focus {
    outline: none;
}

.track-note-container{
    overflow: hidden;
    transition: all 0.2s ease;
    color: black;
    border: var(--open-note-border);
    border-top: 0px transparent;
    border-collapse: true;
    background-color: var(--track-bg);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* box-shadow:10px 10px 20px white;
    z-index: -1; */
}

.track-note{
    max-width: 900px;
    white-space: pre-line;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

a {
    color: inherit;
    text-decoration: inherit
}

a:hover{
    text-decoration: underline;
}

textarea{
    border-radius: 5px;
    border-style: dashed;
}

textarea:focus{
    outline: black;
}