@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Montserrat:wght@400;800&family=Pavanam&family=Zen+Maru+Gothic:wght@400;500;700;900&display=swap');


body {
    --main-color: black;
    --main-color-lite: rgba(0,0,0,0.4);
    --main-color-lite-2: rgba(0,0,0,0.6);
    --track-bg: transparent;
    --track-bg-hover: transparent;
    --open-note-border: 0.5px black dashed;
    margin:0px;
    color: var(--main-color);
    font-family: Courier, monospace;
    background-color: white;
    /* background-image: linear-gradient(
        115deg,
        hsl(240deg 6% 93%) 0%,
        hsl(322deg 20% 89%) 10%,
        hsl(4deg 38% 86%) 21%,
        hsl(30deg 37% 77%) 32%,
        hsl(48deg 25% 66%) 43%,
        hsl(33deg 30% 56%) 54%,
        hsl(21deg 33% 48%) 65%,
        hsl(7deg 38% 42%) 74%,
        hsl(23deg 51% 33%) 83%,
        hsl(58deg 41% 25%) 91%,
        hsl(137deg 30% 29%) 97%,
        hsl(180deg 63% 23%) 100%
        );  */
}
p {
    font-size: large;
}

h1 {
    font-family: 'Zen Maru Gothic';
    margin: 0;
    font-size: 50px;
    line-height: 115%;
}

h2 {
    margin: 0;
    font-family: 'Zen Maru Gothic';
}

h3 {
    font-family: 'Zen Maru Gothic';
}
.playlist-search-bar{
    position: relative;
    width: 200px;
    transition: width 0.3s;
}

.enter-button{
    height: 35px;
}

@media screen and (min-width: 600px) {
    .narrow {
        display: none;
    }
    #page-header{
        align-items: center;
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 0px;
        display: flex;
    }
    
    #playlist-cover{ 
        margin-bottom: 50px;

    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .enter-button {
        margin-left: 20px;
    }
}



#page-header{
    z-index: 1;
    
}

#playlist-info{
    padding:50px;
}

#playlist-cover{
    max-height: 200px;
    padding: 30px;
    border: 1px black dashed;
    /* box-shadow: 5px 5px 50px rgba(0,0,0,.7); */
}



#tracklist-headings{
    display:flex;
    color: var(--main-color-lite);
}

#tracklist{
    padding: 40px;
    padding-top: 10px;
}


.desc{
    opacity:60%;
}

.track{
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex; 
}

.note-icon{
    width: 50px;
    color: var(--main-color-lite);
}

.index{
    width: 100px;
    color: var(--main-color-lite);
}
.song{
    width: 500px;

}
.album{
    width: 500px;
    color: var(--main-color-lite);

}

.addedAt{
    width: 170px;
    color: var(--main-color-lite);
}

.length{
    width: 100px;
    color: var(--main-color-lite);
}

.artist{
    color: var(--main-color-lite);
}

hr {
    border-width: 0.5px;
    border-color: rgb(65, 65, 65);
    width: 100%;
    height: 0px;
}

.track:hover {
    background-color: rgba(25, 25, 25,0.07);
    /* color: white !important; */
}

.track {
    /* transition: padding-top 0.2s; */
    border-radius: 5px;
    padding-top: 12px;
    transition: background-color 0.2s;
    padding-left: 20px;
}

#tracklist-headings {
    padding-left: 20px;
}

input {
    background-color: rgba(255,255,255,.1);
    border-radius: 5px;
    padding: 10px;
    border: 1px rgb(0, 0, 0) dashed;
    color: rgba(0,0,0,0.5);
    font-family: 'Courier';
    max-height: 13px;
    transition: border-color 0.3s;

}

::placeholder{
    color: rgba(0,0,0,0.5);
    font-family: 'Courier';
}

button {
    font-family: Courier;
    margin-right: 12px;
    color: var(--main-color-lite);
    border: 1px solid;
    border-radius: 5px;
    border-color:var(--main-color-lite);
    transition: border-color 0.3;
    background-color: transparent;
    margin-bottom: 10px;

}

button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3;
    color: black;
    border-color: black;
}

button:active{
    background-color: black;
    border-color: black;
    color:white;
    mix-blend-mode: multiply;
    transition: color 0.3;
}

button:disabled{
    opacity: 35%;
    color: var(--main-color-lite);
    border-color: var(--main-color-lite);
}

button:disabled:hover{
    opacity: 35%;
    background-color: transparent;
    color: var(--main-color-lite);
    border-color: var(--main-color-lite);
}


input:focus {
    outline: none;
}

.track-note-container{
    overflow: hidden;
    transition: all 0.2s ease;
    color: black;
    border: var(--open-note-border);
    border-top: 0px transparent;
    border-collapse: true;
    background-color: var(--track-bg);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* box-shadow:10px 10px 20px white;
    z-index: -1; */
}

.track-note{
    max-width: 900px;
    white-space: pre-line;
}


a {
    color: inherit;
}

.invisible-link {
    text-decoration: inherit
}

a:hover{
    text-decoration: underline;
}

textarea{
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    border-style: dashed;
    width: 100%;
    height: auto;
    resize: none; 
    font-size: 120%;
}

textarea:focus{
    outline: black;
}

.viewing{
    border-color: transparent;
    background-color: transparent;
    resize: none;
}

.navbar {
    padding: 10px;
    width: 100%;
    display: inline-flex;
    position: fixed;
    background-color: rgba(255,255,255,.85);
    border-bottom: black 1px dashed;
    z-index: 1;
}

.navlink-section{
    display: inline-flex;
    margin-right: 10px;
    margin-left: auto;
    align-items: flex-end;
}
.navlink {
    text-decoration: inherit;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 600px) {
    .wide {
        display: none;
    }

    .addedAt {
        display: none;
    }
    .mobile-padding{
        margin: 20%;
    }

    .wrap-if-mobile{
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -webkit-pre-wrap;          /* Chrome & Safari */ 
        white-space: -pre-wrap;                 /* Opera 4-6 */
        white-space: -o-pre-wrap;               /* Opera 7 */
        white-space: pre-wrap;                  /* CSS3 */
        word-wrap: break-word;                  /* Internet Explorer 5.5+ */
        word-break: break-all;
        white-space: normal;
    }

    h1 {
        font-size:30px;
    }
    #playlist-cover{
        margin-top: 20%;
        margin-left: 15%;
        max-width: 90%;
    }


    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%)
    }

    .importInput{
        max-width: 50%;
        margin-left:25%;
    }

    button {
        margin-left: 10px;
        margin-right: auto;
    }
}

.underline{
    color: var(--main-color-lite-2);
    text-decoration: underline;
}

.underline:hover{
    color: var(--main-color);
}

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    display: flex;
  }
  
  .modal {
    margin: auto;
    width: 90%;
    max-width: 35rem;
    background-color: white;
    border-radius: 1.5rem;
  }
  
  .modal-content {
    padding: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    transition: opacity 0.2s ease;
 }

 .wraplink{
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -webkit-pre-wrap;          /* Chrome & Safari */ 
        white-space: -pre-wrap;                 /* Opera 4-6 */
        white-space: -o-pre-wrap;               /* Opera 7 */
        white-space: pre-wrap;                  /* CSS3 */
        word-wrap: break-word;                  /* Internet Explorer 5.5+ */
        word-break: break-all;
        white-space: normal;
    }

.readable-content{
    max-width: 700px;
    padding-bottom: 20px;
}

.playlist-preview{
    padding: 20px;
    border: dashed 1px grey;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    transition: background-color 0.3s;
}

.playlist-preview:hover{
    background-color: rgba(25, 25, 25,0.07);
}

.vertical-line {
    position: relative;
    border-left: dashed 1px black;
    margin-left: 20px;
    width: 20px;
    height: 500px;
}

/* .playlist-preview-button-section{
    margin-right: 10px;
    margin-left: auto;
    align-items: flex-end;
} */