@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Montserrat:wght@400;800&family=Pavanam&family=Zen+Maru+Gothic:wght@400;500;700;900&display=swap');


body {
    background-color: black;
    margin:0px;
    color: white;
    font-family: "Montserrat";
    
    /* background-image: linear-gradient(
  115deg,
  hsl(240deg 6% 93%) 0%,
  hsl(322deg 20% 89%) 10%,
  hsl(4deg 38% 86%) 21%,
  hsl(30deg 37% 77%) 32%,
  hsl(48deg 25% 66%) 43%,
  hsl(33deg 30% 56%) 54%,
  hsl(21deg 33% 48%) 65%,
  hsl(7deg 38% 42%) 74%,
  hsl(23deg 51% 33%) 83%,
  hsl(58deg 41% 25%) 91%,
  hsl(137deg 30% 29%) 97%,
  hsl(180deg 63% 23%) 100%
); */
}

h1 {
    margin: 0;
    font-size: 60px;
}

#page-header{
    background: linear-gradient(#000000, #000000);
    padding: 50px;
    display: flex;
    z-index: 1;
    
}

#playlist-info{
    padding:50px;
}

#playlist-cover{
    max-height: 300px;
}

#tracklist-headings{
    display:flex;
    color:grey;
}

#tracklist{
    padding: 40px;
}


.desc{
    opacity:60%;
}
.track{
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex; 
}

.index{
    width: 100px;
    color: grey;
}
.song{
    width: 500px;

}
.album{
    width: 500px;
    color: grey;

}
.length{
    width: 100px;
    color: grey;
}

.artist{
    color:grey;
}

hr {
    border-color: rgb(65, 65, 65);
    width: 100%;
    height: 0px;
}

.track:hover {
    background-color: rgb(59, 59, 59);
    color: white !important;
}

.track {
    /* transition: padding-top 0.2s; */
    border-radius: 5px;
    padding-top: 12px;
    transition: background-color 0.2s;
    padding-left: 20px;
}

#tracklist-headings {
    padding-left: 20px;
}

input {
    background-color: rgba(255,255,255,.1);
    border-radius: 5px;
    padding: 10px;
    border-color: transparent;
    color: white;
    font-family: 'Montserrat';
    max-height: 13px;
}

::placeholder{
    color: rgba(255,255,255,.3);
    font-family: 'Montserrat';
}

button{
    margin-left: 20px;
    font-family: Montserrat;
    color: rgb(190, 190, 190);
    border-style: solid;
    border-radius: 5px;
    border-color:rgb(25, 25, 25);
    transition: border-color 0.3;
    background-color: rgb(25, 25, 25);
}

button:hover{
    color: #1DB954;
    background-color: black;
    border-color:#1DB954;
    transition: color 0.3;
}

button:active{
    background-color: black;
    border-color: rgb(59, 59, 59);
    color:rgb(59, 59, 59);
    transition: color 0.3;
}

.playlist-search-bar{
    position: relative;
    margin-top: auto;
    width: 200px;
}

a {
    color: inherit;
    text-decoration: inherit
}

a:hover{
    text-decoration: underline;
}

input:focus {
    outline: none;
}
.track-note{
    overflow: hidden;
    transition: max-height 0.5s ease;
    color: rgb(170, 170, 170);
    background-color: rgb(25, 25, 25);
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 4px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* box-shadow:10px 10px 20px white;
    z-index: -1; */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}